body {
    width: 1000px;
    margin: auto;
    font-family: 'Franklin Gothic Medium';
    background-size: cover;
}

/* === HEADER eleje === */

header {
    height: 10rem;
    margin: 0;
    padding-top: 25px;
    padding-left: 50px;
    background-size: cover;
}

/* === ASIDE eleje === */

aside {
    width: 20%;
    float: left;
    margin: 0;
    background-color: rgba(60, 60, 60, 0.8);
}

aside a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: yellow;
}

aside a:hover {
    background: yellow;
    color: red;
}

/* === FŐ RÉSZ eleje === */

section {
    float: right;
    width: 78%;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.8);
}

/* === ALNAVIGÁCIÓ eleje === */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width:20%;
}
  
li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

li a:active {
    background-color: grey;
    color: white;
}

/* === BLOKKOK eleje === */

article, div {
    margin: 0;
}

.nincs {
    display: none;
}

.van {
    display: block;
}